@font-face {
    font-family: ABC Ginto Nord;
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/new/3d07f5abf272fbb5670d02ed687453d0.woff2') format("woff2");
    font-display: fallback;
}

@font-face {
    font-family: ABC Ginto Nord;
    font-style: italic;
    font-weight: 800;
    src: url('/fonts/new/3c0aa7f9d47d6a96b14ecada461ccf0e.woff2') format("woff2");
    font-display: fallback;
}

@font-face {
    font-family: gg sans;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/new/ac3f027697c11abd84295888e843f3d2.woff2') format("woff2");
    font-display: fallback;
}

@font-face {
    font-family: gg sans;
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/new/2921d3a4b627bae209e175fa645471ce.woff2') format("woff2");
    font-display: fallback;
}

@font-face {
    font-family: gg sans;
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/new/bf3d19297ef12291559b3edae977480c.woff2') format("woff2");
    font-display: fallback;
}

@font-face {
    font-family: gg sans;
    font-style: italic;
    font-weight: 500;
    src: url('/fonts/new/179d89004e6f9e97d7756d2e135a484e.woff2') format("woff2");
    font-display: fallback;
}

@font-face {
    font-family: gg sans;
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/new/40937fded4330095ba2e541318c33f95.woff2') format("woff2");
    font-display: fallback;
}

@font-face {
    font-family: gg sans;
    font-style: italic;
    font-weight: 600;
    src: url('/fonts/new/f979c4e23d531c45acd8c11661281bc0.woff2') format("woff2");
    font-display: fallback;
}

@font-face {
    font-family: gg sans;
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/new/33ca047f7152c1abc7d3cb1c4bc64aab.woff2') format("woff2");
    font-display: fallback;
}

@font-face {
    font-family: gg sans;
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/new/01e8a31affeeb55e7642619c46c977ad.woff2') format("woff2");
    font-display: fallback;
}

@font-face {
    font-family: gg sans;
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/new/415da23c396a8fcb10346513a2b092d8.woff2') format("woff2");
    font-display: fallback;
}

@font-face {
    font-family: gg sans;
    font-style: italic;
    font-weight: 800;
    src: url('/fonts/new/d3e28de6f266b18b1d05a55a54f17a7e.woff2') format("woff2");
    font-display: fallback;
}

@font-face {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/new/980082c4328266be3342a03dcb37c432.woff2') format("woff2");
    font-display: fallback;
}

@font-face {
    font-family: Noto Sans;
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/new/db985aaa3c64f10506d96d876e350d47.woff2') format("woff2");
    font-display: fallback;
}

@font-face {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/new/05422eb499ddf5616e44a52c4f1063ae.woff2') format("woff2");
    font-display: fallback;
}

@font-face {
    font-family: Noto Sans;
    font-style: italic;
    font-weight: 500;
    src: url('/fonts/new/412f5d9534ce2a2e1a1ae9b746bca5b5.woff2') format("woff2");
    font-display: fallback;
}

@font-face {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/new/e55012627a8f6e7203b72a8de730c483.woff2') format("woff2");
    font-display: fallback;
}

@font-face {
    font-family: Noto Sans;
    font-style: italic;
    font-weight: 600;
    src: url('/fonts/new/d9b0aabb79e7d8b3b14789ebd534f158.woff2') format("woff2");
    font-display: fallback;
}

@font-face {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/new/7cf1be7696bf689b97230262eade8ad8.woff2') format("woff2");
    font-display: fallback;
}

@font-face {
    font-family: Noto Sans;
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/new/f9bf0f65660d23c6f359d22720fc55ae.woff2') format("woff2");
    font-display: fallback;
}

@font-face {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/new/d6db7b5639c7ed70f8b582984dda6c62.woff2') format("woff2");
    font-display: fallback;
}

@font-face {
    font-family: Noto Sans;
    font-style: italic;
    font-weight: 800;
    src: url('/fonts/new/a2a248f78d12dd5b842930bda7036302.woff2') format("woff2");
    font-display: fallback;
}

:root {
    --font-primary: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-display: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-headline: "ABC Ginto Nord", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}